body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F1F1F1;
    padding-top: 30px;
}
.bg-cek{
  background-color: #FFC700;
}
main{
    width: 700px;
    height: auto;
    position: relative;
    margin: auto;
    border-radius: 8px;
    box-shadow: #d9d5e7 0px 6px 10px;
    display: flex;
    flex-direction: row;
}
/* main:hover{
    transform: translateX(10px);
} */
header{
    color: #585DDB;
    text-align: left;
    border-radius: 8px;
}
.konversi{
  display: flex;
  flex-direction: row;
}
.footer{
  font-size: 0.8rem;
  background-color: #585DDB;
  color: #fff;
  padding: 24px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* --------------------------------------------- input form */
.input-section{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}
.label{
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #585DDB;
}
.label-carakalk{
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
#convers-field{
    width: 175px;
    height: 35px;
    padding: 10px;
    margin-right: 15px;
    background-color: #FEF5F0;
    border: 0;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
}
#convers-field:hover{
    border: 0;
    border-radius: 8px;
    outline: none;
    background-color: #fce6da;
    transition: 240ms;
}
#convers-field:focus{
    border-radius: 8px;
    outline: none;
    transition: 240ms;
    box-shadow: #ecc3afa9 0px 15px 30px -6px inset, #ebc4b1a9 0px 9px 18px -9px inset;
}
/* --------------------------------------------- output form */
#output-field{
  width: 175px;
    height: 35px;
    padding: 10px;
    margin-right: 15px;
    background-color: #F2F1F6;
    border: 0;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
}
#cara-kalk{
  padding-left: 15px;
  font-size: 1.2rem;
  margin: 5px 0 5px 0;
  height: 60px;
  border: 0;
  border-radius: 8px;
  outline: none;
  background-color: #7e82f1;
  color: #fff;
  text-align: center;
}
/* --------------------------------------------- button styles */
.btn-tukar{
  text-decoration: none;
  border: 1px #585DDB solid;
  width: 155px;
  text-align: center;
  padding: 6px;
  border-radius: 25px;
  color: #585DDB;
  font-size: 0.8rem;
  margin: auto;
  margin-bottom: 8px;
  background-color: #fff;
}
.btn-tukar:hover{
  background-color: #585DDB;
  color: #fff;
  transition: 240ms;
}
.btn-tukar:active{
  transform: translateY(1px);
  background-color: #4e51b3;
}
button{
    width: 100px;
    padding: 10px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    border-radius: 9px;
    border: 0;
    cursor: pointer;
}
.input-button{
  display: flex;
  align-self: center;
  gap: 1rem;
  padding-top: 16px;
  padding-bottom: 12px;
}
#button-konversi{
  background-color: #6b6fec;
  color: #fff;
  box-shadow: #a1a3e7ad 0px 6px 10px;
}
#button-konversi:hover{
  background-color: #585DDB;
  color: #fff;
  transform: translateY(-2px);
  transform: translateX(-1px);
  transition: 120ms;
}
#button-konversi:active{
  transform: translateY(1px);
  background-color: #4e51b3;
}
#button-reset{
  background-color: #FFFFFF;
  border: 1px #585DDB solid;
  color: #585DDB;
}
#button-reset:hover{
  background-color: #F2F1F6;
  border: 1px #585DDB solid;
  color: #585DDB;
  transition: 240ms;
}
#button-reset:active{
  transform: translateY(1px);
  background-color: #F2F1F6;
  border: 1px#F2F1F6 solid;
}
#button-reverse{
  background-color: #FFFFFF;
  border: 1px #585DDB solid;
  color: #585DDB;
}
#button-reverse:hover{
  background-color: #F2F1F6;
  border: 1px #585DDB solid;
  color: #585DDB;
  transition: 240ms;
}
#button-reverse:active{
  transform: translateY(1px);
  background-color: #F2F1F6;
  border: 1px#F2F1F6 solid;
}
/* --------------------------------------------- component */
.footer-head{
  margin-bottom: 4px;
}
.fs-1{
    font-size: 0.9rem;
}
.border-bottom-grey{
    border-bottom: 1px #585DDB solid;
}
/* --------------------------------------------- utilities cr:bootstrap*/
.text-center{
  text-align: center;
}
.m-0 {
    margin: 0 !important;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .m-2 {
    margin: 0.5rem !important;
  }
  
  .m-3 {
    margin: 1rem !important;
  }
  
  .m-4 {
    margin: 1.5rem !important;
  }
  
  .m-5 {
    margin: 3rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  
  .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  
  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  
  .mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  
  .mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  
  .mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  
  .my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .mt-1 {
    margin-top: 0.25rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  .me-0 {
    margin-right: 0 !important;
  }
  
  .me-1 {
    margin-right: 0.25rem !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  
  .me-3 {
    margin-right: 1rem !important;
  }
  
  .me-4 {
    margin-right: 1.5rem !important;
  }
  
  .me-5 {
    margin-right: 3rem !important;
  }
  
  .me-auto {
    margin-right: auto !important;
  }
  
  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  .ms-0 {
    margin-left: 0 !important;
  }
  
  .ms-1 {
    margin-left: 0.25rem !important;
  }
  
  .ms-2 {
    margin-left: 0.5rem !important;
  }
  
  .ms-3 {
    margin-left: 1rem !important;
  }
  
  .ms-4 {
    margin-left: 1.5rem !important;
  }
  
  .ms-5 {
    margin-left: 3rem !important;
  }
  
  .ms-auto {
    margin-left: auto !important;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .p-5 {
    padding: 3rem !important;
  }
  
  .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  
  .px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  
  .px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  
  .px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
  
  .py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  
  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  
  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  
  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  
  .pt-0 {
    padding-top: 0 !important;
  }
  
  .pt-1 {
    padding-top: 0.25rem !important;
  }
  
  .pt-2 {
    padding-top: 0.5rem !important;
  }
  
  .pt-3 {
    padding-top: 1rem !important;
  }
  
  .pt-4 {
    padding-top: 1.5rem !important;
  }
  
  .pt-5 {
    padding-top: 3rem !important;
  }
  
  .pe-0 {
    padding-right: 0 !important;
  }
  
  .pe-1 {
    padding-right: 0.25rem !important;
  }
  
  .pe-2 {
    padding-right: 0.5rem !important;
  }
  
  .pe-3 {
    padding-right: 1rem !important;
  }
  
  .pe-4 {
    padding-right: 1.5rem !important;
  }
  
  .pe-5 {
    padding-right: 3rem !important;
  }
  
  .pb-0 {
    padding-bottom: 0 !important;
  }
  
  .pb-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pb-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pb-3 {
    padding-bottom: 1rem !important;
  }
  
  .pb-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .pb-5 {
    padding-bottom: 3rem !important;
  }
  
  .ps-0 {
    padding-left: 0 !important;
  }
  
  .ps-1 {
    padding-left: 0.25rem !important;
  }
  
  .ps-2 {
    padding-left: 0.5rem !important;
  }
  
  .ps-3 {
    padding-left: 1rem !important;
  }
  
  .ps-4 {
    padding-left: 1.5rem !important;
  }
  
  .ps-5 {
    padding-left: 3rem !important;
  }
  
  